* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f4f6f8;
  /* display: flex;
  justify-content: center; */
  padding: 40px;
}

.dashboard {
  /* width: 400px; */
  display: flex;
  justify-content: space-around;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.card {
  background: #ffffff;
  padding: 15px;
  width: 200px;
  border-radius: 8px;
  margin-bottom: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.card2{
  background: #ffffff;
  padding: 15px;
  width: 300px;
  border-radius: 8px;
  margin-bottom: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);

}
.card h2 {
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.summary {
  background: #ffffff;
  padding: 15px;
  font-weight: bold;
  border-radius: 8px;
  margin-bottom: 15px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.salary{
    color: blue;
}
.expenses{
    color: red;

}

.balance {
  color: green;

}

.expense-list {
  list-style: none;
}

.expense-list li {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}

.delete-btn{
    background-color: white
}
.chart-container{
    height: 500px;
    width:500px;
    margin: 20px auto;

}